


.book-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: space-between;
    align-items: center;
    gap: 8px;
  }
  
  .book-block > div {
    width: 35%;
  }
  
  .book-block > div > img {
    width: 30%;
  }
  