.contact-panel {
    /* background-color: var(--dark-contact-bg); */
    background-color: var(--dark-sectionBlurb-bg);
    margin-top: 20vh;
    position: absolute;
    left: 80vw;
    top: -12vh;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-content:center;
    padding: 15px;
    gap: 8px;
    justify-content: center;
    z-index: 1;
  }

  .contact-image {
    width: 15vw;
    border-radius: 15px;
  }
  
  .contact-header {
    align-self: center;
    font-size: 16pt;
  }

  #main-section-4 {
    width: 50vw;
    margin-left: 12vw;
  }