/* stylesheet organization

  * :root - variable assignment
  * animation code
  * styles for tags
  * stylef for css classes present in all pages
  
*/


:root {

  @font-face {
    font-family: overlock;
    src: url('./fonts/Overlock/Overlock-Black.ttf');
  }
  
  @font-face {
    font-family: Comfortaa;
    src: url('./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: Shizuru;
    src: url('./fonts/Shizuru/Shizuru-Regular.ttf');
  }
  
  @font-face {
    font-family: Akaya;
    src: url('./fonts/Akaya/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf');
  }
  
  

  /* dark mode colors */

  /* color of the background on the sides */
  --dark-bg: rgba(177, 189, 159, 0.9);
  --dark-border: rgb(108, 208, 116);
  
  /*  color of the background of the individual content box*/
  --dark-bodySection-bg: rgba(7, 85, 24, 0.2);

  /* color directly behind the text in a content box */
  --dark-sectionBlurb-bg: rgba(88, 72, 79, 0.75);
  /* --dark-text-color: rgb(235, 235, 224); */

  --dark-text-color: rgb(235, 225, 225);
  /* background of the contact me panel */
  --dark-contact-bg: rgba(55, 82, 26, 0.75);
  
  --link-color: rgb(195, 223, 240);
  /* --link-color: rgb(68, 68, 65); */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}



body {
/* background-color: var(--dark-bg); */
max-height: 100vh;
/* background-image: url("./img/bamboo.jpg"); */
background-image: url("./img/flowers.avif");
background-size: cover;
background-attachment: fixed;

font-family: Comfortaa, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

color:var(--dark-text-color);
font-size: 11.5pt;
}


li {
  list-style-type: none;
}

a{
  color: var(--link-color);
}

/* used for page-header-container */
h3 {
  background-color: var(--dark-sectionBlurb-bg);
  color:var(--dark-text-color);
  font-size: 16pt
}

.App {
  height: 100vh;
  width: 76vw;
  margin-left: 12vw;
  
  align-content: baseline;
  justify-content: center;

  display: flex;
  flex-direction: column;
  gap: 8px;
  
  text-align: center;
}



.body-blurb {
  background-color: var(--dark-sectionBlurb-bg);
  border-radius: 8px;
  
  padding: 20px;
}

.body-section > img {
  max-height: 300px;
  max-width: 30%;
  object-fit: contain;
  border-radius: 8px;
}

.body-blurb > h4 {
  text-align: center;
}


/* body-container is the div containing the swapping content in the page body */
.body-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: scroll;
  gap: 8px;
  
}

.body-section {
  border-radius: 20px;
  display: flex;
  flex-direction: row;

  
  color: var(--dark-text-color);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 16px;

  align-items: center;
  
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  
}

.body-section-content-container{
  display:flex;
  flex-direction: column;
  gap: 8px;
  
}

.credentials {
  background-color: var(--dark-sectionBlurb-bg);
  text-align: left;
  min-width: 18vw;
  align-items: center;
}
.credentials > ul {
  margin: 0px;
}
.credentials > ul > li{
  list-style-type: square;
}


.page-header {
  
  align-self:center;
  margin-top: 1px;
  width: 80%;
  border-radius: 8px;
  text-align: center;
  font-family: Comfortaa;
}


.quote {
  background-color: rgb(215, 179, 89);
  color: black;
  align-items: center;
  justify-content: center;
  

  -webkit-box-shadow: inset 0px 0px 186px -14px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 186px -14px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 186px -14px rgba(255,255,255,1);

}


.flex {
  display: flex;
}

.horizontal-layout {
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 4px;
  justify-items: center;
}

.vertical-layout {
flex-direction: column;
}