/* stylesheet organization

  * :root - variable assignment
  * animation code
  * styles for tags
  * stylef for css classes present in all pages
  
*/


:root {

  @font-face {
    font-family: overlock;
    src: url('./fonts/Overlock/Overlock-Black.ttf');
  }
  
  @font-face {
    font-family: Comfortaa;
    src: url('./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: Shizuru;
    src: url('./fonts/Shizuru/Shizuru-Regular.ttf');
  }
  
  @font-face {
    font-family: Akaya;
    src: url('./fonts/Akaya/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf');
  }
  
  

  /* dark mode colors */

  /* color of the background on the sides */
  --dark-bg: rgba(177, 189, 159, 0.9);
  --dark-border: rgb(108, 208, 116);
  
  /*  color of the background of the individual content box*/
  --dark-bodySection-bg: rgba(7, 85, 24, 0.2);

  /* color directly behind the text in a content box */
  --dark-sectionBlurb-bg: rgba(88, 72, 79, 0.75);
  /* --dark-text-color: rgb(235, 235, 224); */

  --dark-text-color: rgb(235, 225, 225);
  /* background of the contact me panel */
  --dark-contact-bg: rgba(55, 82, 26, 0.75);
  
  --link-color: rgb(195, 223, 240);
  /* --link-color: rgb(68, 68, 65); */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}



body {
/* background-color: var(--dark-bg); */
max-height: 100vh;
/* background-image: url("./img/bamboo.jpg"); */
background-image: url("./img/flowers.avif");
background-size: cover;
background-attachment: fixed;

font-family: Comfortaa, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

color:var(--dark-text-color)
}


li {
  list-style-type: none;
}

a{
  color: var(--link-color);
}

/* used for page-header-container */
h3 {
  background-color: var(--dark-sectionBlurb-bg);
  color:var(--dark-text-color);
  font-size: 18pt
}

.App {
  width: 100vw;
  height: 100vh;
  
  display: grid;
  justify-content: center;
  grid-template-columns: 10vw 70vw 20vw;
}



.body-blurb {
  background-color: var(--dark-sectionBlurb-bg);
  border-radius: 8px;
  
  padding: 20px;
}

.body-section > img {
  max-height: 300px;
  /* max-width: 30%; */
  object-fit: contain;
  border-radius: 8px;
}

.body-blurb > h4 {
  text-align: center;
}


/* body-container is the div containing the swapping content in the page body */
.body-container {
  grid-area: body;
  /* display: grid; */
  /* grid-auto-flow: row; */

  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  gap: 8px
}

.body-section {
  border-radius: 20px;
  display: flex;
  
  color: var(--dark-text-color);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 16px;

  align-items: center;
  
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.body-section-content-container{
  display:flex;
  flex-direction: column;
  gap: 8px;
}

/* middle column is container for majority of site content */
.middle-column {
  margin-left: 10%;
  place-content: center;
}


.page-header {
  margin-left: 10%;
  margin-top: 1px;
  width: 80%;
  border-radius: 8px;
  text-align: center;
  font-family: Comfortaa;
}


.quote {
  background-color: white;
  color: black;
  text-align: center;
}


